*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
 
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:0px 40px;
   
    
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
#nav h3{
    font-size: 16px;
    border: 1.5px solid black;
    padding:5px 10px;
    border-radius: 50px;
    font-weight: 500;

}

#nav i{
    font-size: 17px;
    border: 1.5px solid black;
    padding:5px 10px;
    border-radius: 50px;
    font-weight: 500;

}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;

}

#nav button{
    padding: 8px 12px;
    border-radius: 50px;
    border: 1.5px solid black;

}
#signbtn{
    border:none;
    color: white;
    background-color:orangered;
    
}

#main>h1{
color: red;
font-size: 150px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
text-transform: uppercase;
width: 100%;
text-align: center;

}

img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top:50%;
    left:50%;
    border-radius: 50px;
    transform: translate(-50%,-50%);
}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
   
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
   
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
   
}
#img4{
    transform: translate(-50%,-50%) rotate(-20deg);
   
}

#btm-left{
     position: absolute;
     bottom: 5%;
     left: 45%;
     font-size:17px;
}
