*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
height: 100%;
width: 100%;

}

h1{
    color: yellow;
    
    font-size: 100px;
    font-family:cursive;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);


}

/* #box{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

  

} */

 
#parent{
    height: 100%;
    width: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
#child1{
   
    height: 200px;
    width: 200px;
    background-color: rgb(255, 151, 139);


}

#child2{


    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    

}
#child3{
    height: 200px;
    width: 200px;
    background-color: royalblue;
    

}