*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;

}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;


}

#nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
    position: fixed;
    width: 100%;
}
#nav h3{
    background-color: black;
    color: white;
    padding: 15px 25px;
    font-size: 22px;
    margin-left: 5px;
    border-radius:50px ;
}
#intro{
    height: 45%;
    width: 100%;
    /* background-color: bisque; */
    padding: 30px 50px ;

}
#intro h1{
    font-size: 110px;
    line-height: 100px;
    letter-spacing: -3px;
    
}
#place{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#place h3,#place h4{
    font-size: 25px;
    font-weight: px;
}

#hero-image{
    height: 70%;
    width: 100%;
    background-color: rgb(230, 205, 158);
    background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp");
background-size: cover;
    
}
#about{
    height: 45%;
    width: 100%;
    /* background-color: rgb(205, 205, 205); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 70px;

}
#about h2{
    width: 70%;
    font-size: 75px;
    line-height: 60px;
    letter-spacing: -1px;
    
    
}

#about-part2{
    width: 30%;
    height: 100%;
    /* background-color: blue;  */
  padding: 0 30px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

#about-part2 h3{
    font-size: 35px;
    font-weight: 600;
}

#icons i{
    background-color: black;
    color:white;
    border-radius: 30px;
    padding:5px;
    font-size: 20px;
    
}
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 70px;


}

#work1{
    width: 30%;
    height: 100%;
    /* background-color: black; */
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    font-size:30px;
    
}
 

#work2{
    height: 100%;
/* background-color: blue; */
    width: 70%;
    padding: 0 60px;

}

.work2-part{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 0;
}
.work2-part:nth-child(1){
    /* background-color: blue; */
    border-bottom: 2px solid black;
}
.work2-part .elem{
    width:50%;
    height: 100%;
    
}

.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
    padding-right: 50px;
}
.work2-part .elem:nth-child(2){
    padding-left: 60px;
}
.work2-part .elem h4{
    font-size: 45px;
}
.work2-part .elem p{
    font-size: 20px;
}
